# Ignore everything
*

# Don't ignore .cpp and .h files in src directory
!src/**/*.cpp
!src/**/*.h

# Don't ignore directories (needed to access .cpp and .h files)
!*/

# Don't ignore .git directory
!.git/
!.gitignore 